%h3 Mis conjuntos de problemas

%ul.nav
  - @problem_groups.each do |group|
    %li
      %span
        = link_to group, group
        |
        = link_to "borrar", problem_group_path(group), method: :delete, confirm: "Está seguro que quiere borrar el conjunto de problemas '#{group}'?"
  %br
  %li.header= link_to "Crear conjunto de problemas", new_problem_group_path

