%h3 Nuevo conjunto de problemas

= form_for @problem_group do |f|
  - if @problem_group.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - @problem_group.errors.full_messages.each do |msg|
            %li= msg

  %div
    = f.label :title, "Título"
    = f.text_field :title

  %button.btn Guardar
