%h3 Problemas de #{@problem_group}
Compartí este link con tus alumnos cuando estés listo para empezar:
- link = students_path(problem_group_id: @problem_group.id, only_path: false)
= link_to link, link

.rows-fluid
  .span8
    .well
      %ul.nav.nav-list
        %li.nav-header
          Problemas
        /ko foreach: problems
        %li
          .link
            %span{ko(click: '$root.deleteProblem')}
              (borrar)
            %span{ko(click: '$root.selectProblem')}
              #{ko_text :title}
            %span.pull-right{data:{bind: "html: showStatus()"}}

        //ko
      %br
      = link_to "Crear nuevo", new_problem_group_problem_path(@problem_group)



    /ko with: selectedProblem
    .well
      %span
        %h4 #{ko_text :title}
        %label.checkbox
          %input{type:"checkbox", data: {bind: "checked: visible"}}
          Visible

      %div{data: {bind: "if: visible()"}}
        /ko foreach: solutions
        .link{ko(click: '$root.selectSolution')}
          #{ko_text :studentInfo}
          %span.pull-right{data:{bind: "html: showSolutionStatus()"}}
          %br

        //ko



    //ko

  /ko with: selectedSolution
  .span8.well{data: {bind: "visible: code"}}

    %h3
      Solución
    %h4
      %pre
        %code.haskell{ko(text: :code)}

    //ko

  //ko

:javascript
  initTeacher(#{@problem_group.id}, #{@problem_group.teacher_status.to_json});

