%h2 Registrase
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    = f.email_field :email
  %div
    = f.label :password
    = f.password_field :password
  %div
    %label
      Confirmación de password
      %br
      = f.password_field :password_confirmation

  %div= f.submit "Registrarse"
= render "devise/shared/links"
