/ko if: state().state == 'initial'
Cargando problemas, por favor esperen...
//ko

/ko if: state().state == 'fill_info'
%form{ko(submit: :submitInfo)}
  %div
    .span6
      %span Nombres e emails si desean recibir respuestas.
      %textarea{ko(value: :studentInfo, valueUpdate: :afterkeydown)}
      %div
        %button.btn{ko(enable: :canSubmitInfo)}  Aceptar
//ko

/ko if: state().state == 'solving'
.rows-fluid
  .span8
    .well
      %ul.nav.nav-list
        %li.nav-header
          Problemas
        /ko foreach: problems
        %li
          %span.link{ko(text: 'title', click: '$root.selectProblem')}
          %span.pull-right{data:{bind: "html: showStatus()"}}
        //ko
  .span8
    /ko with: selectedProblem
    .well
      %h2
        #{ko_text :title}

      #{ko_text :description}
      .pull-right
        %select{ko(value: :status)}
          %option{:value => 'not_started'} No arrancamos
          %option{:value => 'in_progress'} En progreso
          %option{:value => 'on_trouble'} En problemas
          %option{:value => 'done'} Listo el pollo

      %div
        %h4 Compartir solución:

        %div{style: "margin-right: 10px"}
          %textarea{ko(value: :code, valueUpdate: :afterkeydown)}

        %div{data: {bind: "visible: tip"}}
          %h4 Ayuda:
          %div{style: "margin-right: 10px"}
            %pre
              %code{data:{bind: "html: tip"}}


    //ko

//ko



:javascript
  initStudent(#{@problem_group.id});
