%h3 Nuevo problema de #{@problem_group}

= form_for [@problem_group, @problem] do |f|
  - if @problem.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - @problem.errors.full_messages.each do |msg|
            %li= msg
  .span6
    %span
      = f.label :title, "Título"
      = f.text_field :title
      %button.btn.pull-right Guardar

    %div
      = f.label :description, "Descripción"
      = f.text_area :description, rows: 5

    %div
      = f.label :default, "Ayuda para el alumno"
      = f.text_area :default, rows: 5

    %label.checkbox
      = f.check_box :visible
      Visible


