%h2 Si sos profesor, necesitás un usuario
%h3 si no, esperá intrucciones :)
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %div
    = f.label :email
    = f.email_field :email
  %div
    = f.label :password
    = f.password_field :password
  - if devise_mapping.rememberable?
    %div
    %label
      = f.check_box :remember_me
      Recordar Contraseña

  %br
  %br
  %div= f.submit "Entrar"
= render "devise/shared/links"
