/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

body {
  padding-top: 60px;
}

.link{
  cursor: pointer;
  color: #0088cc;
}

.red{
  color:red;
}

.green{
  color:green;
}

.yellow{
  color:yellow;
}

textarea{
  width: 100%;
  min-width:100%;
  max-height:100%;

  height:200px;
  min-height:200px;
  max-height:200px;
}

.square {
  margin-left: -3px;
}
