!!!
%html
  %head
    %title Alto Taller
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application", "#{FAYE_URL}.js"
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Offside", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700", :rel => "stylesheet", :type => "text/css"}/
    :javascript
      var fayeUrl = '#{FAYE_URL}';
%body{class: @body_class}
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => root_path} Alto Taller
        - unless @hide_navbar
          .nav-collapse.collapse
            - if current_user
              .btn-group.pull-right.user
                %a.btn.btn-link{"data-toggle" => "dropdown", href: "#"}
                  = current_user.email
                  %i.ic-cog
                %ul.dropdown-menu
                  %li= link_to "Sign out", destroy_user_session_path, method: :delete

  .container-fluid
    - if flash[:notice].present?
      .alert-container
        .alert.alert-success
          %button.close{"data-dismiss" => "alert", "type" => "button"} x
          = flash[:notice]
    - if flash[:alert].present?
      .alert-container
        .alert.alert-block
          %button.close{"data-dismiss" => "alert", "type" => "button"} x
          = flash[:alert]

    = yield
